.container{
    margin: 0px;
}
nav{
    background-color:black;
    color:white;
}
nav ul{
    padding: 0;
    margin: 0;
}
nav li{
    display:inline;
    justify-content: right;
    line-height: 40px;
    margin-right: 20px;
    text-decoration: none;
    margin-left: 70px;
   
}
.img-fluid{
   width: 400px;
   height: auto;
   
}
p{
    line-height: 30px;
}
h1{
    margin-left: 80px;
}
@media(max-width:600px){
    .yoga-img{
        display:none;
    }
    
}
button{
    display: flex;
    margin-left: 80px;
    font-size: 18px;
    padding: 15px 25px;
    background: green;
    color: white;
    border: none;
    justify-content: center;
    border-radius: 4px;
    box-shadow: 5px 3px 5px rgba(44, 42, 42, 0.5);
    
}
button:hover{
    background: #8bcdcd;
    color: #59405c;
    transition: all 150ms ease-in-out;
    margin-left: 80px;
}
.pose-img{
    width:700px;
    height:auto;
    display: flex;
}